.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal > h4 {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.modal-img {
  margin: 0;
  max-height: 85vh;
  max-width: 95vw;
}
