.App > h1 {
  text-align: center;
}
.flex-container {
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.flex-container:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
